@charset "UTF-8";
.body {
  margin: 0 0 0 0;
  background-image: url(../img/mini.png);
  background-position: center;
  /*background-color: rgb(2, 61, 103);*/
}

main {
  margin: 0 0 0 0;
}

footer {
  padding: 30px 8% 30px 8%;
  margin: 0;
  background-color: #FD6E12;
  font: 2em sans-serif;
}
footer ul {
  list-style-type: none;
  color: #03749C;
}

.pd_widget_app {
  text-align: right;
  margin-bottom: 0;
  clear: both;
  /* width: 600px !important; */
  font: 14px Arial, Verdana, sans-serif;
  /* padding: 10px 10px 30px 10px; */
  /* box-sizing: content-box; */
}

.header {
  background-color: #023D67;
  padding: 30px 8% 30px 8%;
  /*margin: 30px 8% 30px 8%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.links li {
  margin: 0 30px 0 0;
  list-style: none;
  font: 2em sans-serif;
  color: #FD6E12;
}

.content {
  margin: 30px 8% 30px 8%;
}

.psih {
  color: #5CD4EC;
  text-align: center;
}

.inkeles {
  margin: 0;
  background-color: #03749C;
  padding: 100px 8% 100px 8%;
  /*height: 450px;*/
  /*width: 100%;*/
}
.inkeles h2 {
  font: 3.2em sans-serif;
  color: #023D67;
}
.inkeles h3 {
  color: #FD6E12;
}

.about {
  margin: 0% 0% 0 -10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*height: 576px;*/
  background-color: #D44205;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about img {
  height: auto;
  width: 30%;
  text-shadow: #FD6E12;
}
.about p {
  margin: 3% 5% 3% 5%;
  padding: 0 0 0 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 2em;
}

.about_photo {
  z-index: 2;
}

.about_me .right {
  border-left: 10px solid #5CD4EC;
  padding-left: 20px;
  color: #5CD4EC;
}
.about_me .left {
  border-left: 10px solid #CC4109;
  padding-left: 20px;
  color: #023D67;
}

.about_work {
  margin: 0;
  padding: 20px 10px 10px 10px;
  background-color: #D44205;
}
.about_work svg {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.about_work ul {
  list-style: none;
}
.about_work ul li {
  padding-left: 35px;
  font-size: 1.5em;
  position: relative;
  color: white;
}
.about_work ul li::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: #5CD4EC;
}

.prodoctorov {
  margin: 5% 0 0 0;
}

.carousel_home {
  margin-top: 50px;
  z-index: 100;
}
.carousel_home .item {
  height: 300px;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item.active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: #03749C;
  border: 10px solid #D44205;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.owl-carousel .owl-item.center {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.owl-carousel .owl-item.active.center {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 50;
  background-color: #15B1D7;
  border: 10px solid #FD6E12;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .about p {
    margin: 3% 5% 3% 5%;
    padding: 0 0 0 10%;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
  }
}
@media screen and (max-width: 750px) {
  .hiden {
    display: none;
  }

  .about {
    margin: 0% 0% 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*height: 576px;*/
    background-color: #D44205;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about img {
    height: auto;
    width: 30%;
    text-shadow: #FD6E12;
  }
  .about p {
    margin: 3% 5% 3% 5%;
    padding: 0 0 0 10%;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
  }

  .about_me p {
    font-size: 1em;
  }
}