@charset "UTF-8";
.body {
  margin: 0 0 0 0;
  background-color: #0E2A34;
  background-position: center;
  /*background-color: rgb(2, 61, 103);*/
}

main {
  margin: 60px 0 0 0;
}

audio {
  float: right;
  width: 350px;
  height: 50px;
  border-radius: 100px;
  background-color: #1b1b1b;
}

.audio_card {
  padding: 40px 0 0 0;
}

.player {
  top: 40px;
  bottom: 40px;
}

.text_audio {
  color: #F78C46;
  font-size: 18px;
}

footer {
  padding: 30px 8% 30px 8%;
  margin: 0;
  background-color: #FD6E12;
  font: 2em sans-serif;
}
footer ul {
  list-style-type: none;
  color: #0E2A34;
}

.pd_widget_app {
  text-align: right;
  margin-bottom: 0;
  clear: both;
  /* width: 600px !important; */
  font: 14px Arial, Verdana, sans-serif;
  /* padding: 10px 10px 30px 10px; */
  /* box-sizing: content-box; */
}

.header {
  z-index: 5;
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #023D67;
  padding: 10px 8% 10px 8%;
  /*margin: 30px 8% 30px 8%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 20px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 20px 10px 0px rgba(0, 0, 0, 0.15);
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.hidden-menu-ticker {
  display: none;
}

.links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.links li {
  margin: 0 30px 0 0;
  list-style: none;
  font: 28px sans-serif;
  color: #FD6E12;
}
.links a:link {
  color: #FD6E12;
  text-decoration: none;
}
.links a:visited {
  color: #FD6E12;
  text-decoration: none;
}
.links a:active {
  color: #FD6E12;
  text-decoration: none;
}
.links a:hover {
  color: #943900;
  text-decoration: none;
}

.content {
  margin: 30px 8% 30px 8%;
}

.psih {
  color: #5CD4EC;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.inkeles {
  margin: 0;
  background-color: #03749C;
  padding: 100px 8% 100px 8%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  /*height: 450px;*/
  width: 100%;
}
.inkeles h2 {
  font: 3.2em sans-serif;
  color: #023D67;
}
.inkeles h3 {
  color: #FD6E12;
}

.about_in {
  height: 30%;
}

.about_t {
  margin: 0% 0% 0 -10%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 576px;
  background-color: #D44205;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about_t p {
  margin: 0 0 0 0;
  padding: 0 0 0 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 28px;
}

.about_photo {
  z-index: 2;
  max-height: 556px;
  overflow: hidden;
  padding: 30px 0 20px 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}
.about_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about_me .right {
  border-left: 10px solid #5CD4EC;
  padding-left: 20px;
  color: #5CD4EC;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}
.about_me .left {
  border-left: 10px solid #5CD4EC;
  padding-left: 20px;
  color: #5CD4EC;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}
.about_me p {
  font-size: 28px;
}

.about_work {
  margin: 0;
  padding: 20px 120px 10px 20px;
  background-color: #D44205;
}
.about_work svg {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.about_work ul {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.about_work ul li {
  padding-left: 35px;
  font-size: 1.5em;
  position: relative;
  color: white;
}
.about_work ul li::before {
  content: url(../img/svg.svg);
  position: absolute;
  top: 0;
  left: 0;
  color: #5CD4EC;
}

.prodoctorov {
  margin: 5% 0 0 0;
}

.carousel_home {
  margin-top: 50px;
  z-index: 100;
}
.carousel_home .item {
  height: 300px;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: #03749C;
  /*border: 10px solid #D44205;*/
  text-align: center;
  color: #023D67;
  padding: 65px 10px 65px 10px;
}
.owl-carousel .owl-item.active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background-color: #03749C;
  /*border: 10px solid #D44205;*/
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.owl-carousel .owl-item.center {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.owl-carousel .owl-item.active.center {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 50;
  background-color: #15B1D7;
  /*border: 10px solid #FD6E12;*/
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
}
.owl-carousel .active.center:hover {
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  /*вот так*/
}

.owl-nav {
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48%;
  padding-right: 48%;
}

.owl-prev {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .about p {
    margin: 3% 5% 3% 5%;
    padding: 0 0 0 10%;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
  }
}
@media screen and (max-width: 750px) {
  .hiden {
    display: none;
  }

  /*Стилизация кнопки открытия меню*/
  .btn-menu {
    color: #FD6E12;
    border: 0px;
    padding: 5px;
    position: fixed;
    top: 15px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: right 0.23s;
    transition: right 0.23s;
    z-index: 3;
    width: 38px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    border-radius: 1px;
  }

  .btn-menu span {
    display: block;
    height: 5px;
    background-color: #FD6E12;
    margin: 5px 0 0;
    -webkit-transition: all 0.1s linear 0.23s;
    transition: all 0.1s linear 0.23s;
    position: relative;
  }

  .btn-menu span.first {
    margin-top: 0;
  }

  .hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 90px 0px 0px 0px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 80vw;
    /*background: -webkit-linear-gradient(0deg, #211F2A 77%, #FFFFFF 23%);
    background: linear-gradient(0deg, #211F2A 77%, #FFFFFF 23%);*/
    background: #023D67e8;
    height: 100%;
    top: 0;
    right: -80vw;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .hidden-menu li {
    padding-left: 5vw;
    padding-top: 10px;
    /*padding: 10px 0;*/
    font-size: 35px;
    color: #FD6E12;
    padding: 6px 0 0 15px;
  }

  .hidden-menu-ticker:checked ~ .btn-menu {
    right: 10px;
  }

  .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
  }

  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
  }

  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }

  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
  }

  .inkeles {
    margin: 0;
    background-color: #03749C;
    padding: 100px 8% 100px 8%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
    /*height: 450px;*/
    /*width: 100%;*/
  }
  .inkeles h2 {
    font: 3.2em sans-serif;
    color: #023D67;
  }
  .inkeles h3 {
    color: #FD6E12;
  }

  .about {
    margin: 0% 0% 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*height: 576px;*/
    background-color: #D44205;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about img {
    height: auto;
    width: 30%;
    text-shadow: #FD6E12;
  }
  .about p {
    margin: 3% 5% 3% 5%;
    padding: 0 0 0 10%;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
  }

  .about_me p {
    font-size: 28px;
  }

  .book {
    display: none;
  }

  .about_photo {
    margin: 0;
    width: 100%;
  }

  .about_t {
    margin: 0% 0% 0 0%;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 576px;
    background-color: #D44205;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about_t p {
    margin: 0 0 0 0;
    padding: 0 0 0 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
  }
}