

.body{
    margin: 0 0 0 0;
    background-color: #0E2A34;
    background-position: center;
    /*background-color: rgb(2, 61, 103);*/
}
main{
    margin: 0 0 0 0;
}
footer{
    padding: 30px 8% 30px 8%;
    margin: 0;
    background-color: #FD6E12;
    font: 2em sans-serif;
    ul{
        list-style-type: none;
        color: #0E2A34;
    }
}
.pd_widget_app {
    text-align: right;
    margin-bottom: 0;
    clear: both;
    /* width: 600px !important; */
    font: 14px Arial,Verdana,sans-serif;
    /* padding: 10px 10px 30px 10px; */
    /* box-sizing: content-box; */
}
.header{
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #023D67;
    padding: 10px 8% 10px 8%;
    /*margin: 30px 8% 30px 8%;*/
    display: -webkit-flex; 
    display: flex;      
    flex-direction: row ;
    justify-content:space-between;
}
.hidden-menu-ticker {
    display: none;
}
.links{
    
    display: -webkit-inline-flex;
    display: inline-flex; 
    li{
        margin: 0 30px 0 0;
        list-style: none;
        font: 28px sans-serif;
        color: #FD6E12;
    }
    a:link{
        color: #FD6E12;
        text-decoration: none;
    }
    a:visited{
        color: #FD6E12;
        text-decoration: none;
    }
    a:active{
        color: #FD6E12;
        text-decoration: none;
    }
    a:hover{
        color: #943900;
        text-decoration: none;
    }
}
.content{
    margin: 30px 8% 30px 8%;
}
.psih{
    color: #5CD4EC;
    text-align: center;
    animation-duration: 2s; 
    animation-name: bounceInDown;
}
.inkeles{
    margin: 0;
    background-color: #03749C;
    padding: 100px 8% 100px 8%;
    animation-duration: 2s; 
    animation-name: bounceInLeft;
    /*height: 450px;*/
    /*width: 100%;*/
    h2{
        font: 3.2em sans-serif;
        color: #023D67;
    }
    h3{
        color: #FD6E12;
    }

}
.about_in{
    height: 30%;
 
}
.about_t{
    margin: 0% 0% 0 -10%;
    animation-duration: 3s; 
    animation-name: bounceInRight;
    align-items: center;
    height: 576px;
    background-color: #D44205;
    display: flex;
    p{
        margin: 0 0 0 0;
        padding: 0 0 0 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;
        font-size: 28px;
    }
}
.about_photo{
    z-index: 2;
    max-height: 556px;
    overflow: hidden;
    padding: 30px 0 20px 0;
    animation-duration: 3s; 
    animation-name: bounceInRight;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.about_me{
    .right{
    border-left: 10px solid #5CD4EC;
    padding-left: 20px;
        color:#5CD4EC;
        animation-duration: 3s; 
    animation-name: bounceInRight;
    }
    .left{
        border-left: 10px solid #5CD4EC;
        padding-left: 20px;
            color:#5CD4EC;
            animation-duration: 3s; 
    animation-name: bounceInRight;
    }
    p{
        font-size: 28px;
    }
}
.about_work{
    margin: 0 ;
    padding: 20px 120px 10px 20px;
    background-color: #D44205;
    svg{
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
    }
    ul{
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        li{
            padding-left: 35px;
            font-size: 1.5em;
            position: relative;
            color:white;
        }
        li::before{
            content: url(../img/svg.svg);
            position: absolute; top: 0; left: 0;
            color: #5CD4EC;
        }
    }
}
.prodoctorov{
    margin: 5% 0 0 0;
}
.carousel_home{
    margin-top: 50px;
    z-index: 100;
    .item{
        height: 300px;
    }

}
.owl-carousel {
    position: relative;
    .owl-item{
        transform: scale(0.8);
        background-color:  #03749C;
        /*border: 10px solid #D44205;*/
        text-align: center;
        color: #023D67;
        padding: 65px 0 65px 0 ;
    }
    .owl-item.active  {
      transform: scale(0.8);
      background-color:  #03749C;
      /*border: 10px solid #D44205;*/
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 

    }
    .owl-item.center  {
      transform: scale(0.8)
    }
   
    .owl-item.active.center  {
      transform: scale(1);
      z-index: 50;
      background-color:  #15B1D7;
      /*border: 10px solid #FD6E12;*/
      box-shadow: 0 0 20px rgba(0,0,0,0.5); ;
      transition: 1s;
    }
    .active.center:hover {
        position: relative;
        opacity: 1;
        transform: scale(1.5); /*вот так*/
    }
  }
 
 
  .owl-nav{
      justify-self: center;
      color: white;
      margin-left: auto;
      margin-right: auto;
      padding-left: 48%;
      padding-right: 48%;
  }
  .owl-prev{
      font-size: 30px;
  }
@media screen and (max-width: 1000px) {
    .about{
        p{
            margin: 3% 5% 3% 5%;
            padding: 0 0 0 10%;
            font-size: 1.5em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            color: white;
        }
    }
}

@media screen and (max-width: 750px) {
    .hiden{
        display: none;
    }
    /*Стилизация кнопки открытия меню*/
	.btn-menu {
		color: #FD6E12;
		border: 0px;
		padding: 5px;
		position: fixed;
		top: 15px;
		right: 30px;
		cursor: pointer;
		transition: right .23s;
		z-index: 3;
		width: 38px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 1px;
	}
	.btn-menu span {
		display: block;
		height: 5px;
		background-color: #FD6E12;
		margin: 5px 0 0;
		transition: all .1s linear .23s;
		position: relative;
	}
	.btn-menu span.first {
		margin-top: 0;
	}
    .hidden-menu {
		display: block;
		position: fixed;
		list-style: none;
		
		padding: 90px 0px 0px 0px;
		margin: 0;
		box-sizing: border-box;
		width: 80vw;
		/*background: -webkit-linear-gradient(0deg, #211F2A 77%, #FFFFFF 23%);
		background: linear-gradient(0deg, #211F2A 77%, #FFFFFF 23%);*/
		background:#FFFFFF ;
		height: 100%;
		top: 0;
		right: -80vw;
		transition: right .2s;
		z-index: 2;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
        li{
            padding-left: 5vw;
		padding-top: 10px;
		/*padding: 10px 0;*/
        font-size: 35px;
		color: #FD6E12;
		padding: 6px 0 0 15px;
        }
	}
    .hidden-menu-ticker:checked~.btn-menu {
		right: 10px;
	}
	.hidden-menu-ticker:checked~.hidden-menu {
		right: 0;
	}
	.hidden-menu-ticker:checked~.btn-menu span.first {
		-webkit-transform: rotate(45deg);
		top: 10px;
	}
	.hidden-menu-ticker:checked~.btn-menu span.second {
		opacity: 0;
	}
	.hidden-menu-ticker:checked~.btn-menu span.third {
		-webkit-transform: rotate(-45deg);
		top: -10px;
	}
    .inkeles{
        margin: 0;
        background-color: #03749C;
        padding: 100px 8% 100px 8%;
        animation-duration: 2s; 
        animation-name: bounceInLeft;
        /*height: 450px;*/
        /*width: 100%;*/
        h2{
            font: 3.2em sans-serif;
            color: #023D67;
        }
        h3{
            color: #FD6E12;
        }
    
    }
    .about{
    margin: 0% 0% 0 0;
    align-items: center;
    /*height: 576px;*/
    background-color: #D44205;
    display: flex;
    img{
        height: auto;
        width: 30%;
        text-shadow: #FD6E12;
        }
        p{
            margin: 3% 5% 3% 5%;
            padding: 0 0 0 10%;
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            color: white;
        }
    }
    .about_me{
        p{
            font-size: 28px;
        }
    }
    .book{
        display: none;
    }
    .about_photo{
        margin: 0;
        width: 100%;
    }
    .about_t{
        margin: 0% 0% 0 0%;
        animation-duration: 3s; 
        animation-name: bounceInRight;
        align-items: center;
        height: 576px;
        background-color: #D44205;
        display: flex;
        p{
            margin: 0 0 0 0;
            padding: 0 0 0 0%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            color: white;
            font-size: 22px;
        }
    }
}